Import Data

In [38]:
import pandas as pd

In [39]:
drug_class=pd.read_csv("C:/Users/Akello_Mercy/Documents/Tech4Dev Classes/New Group 2/Datasets/Drugs Data set 3.csv")

In [40]:
drug_class.head()

,Age,Sex,BP,Cholesterol,Na_to_K,Drug,Smoking Status,Genetic_Diseases,Income Level,Sleep Hours,BMI,Alcohol Consumption,Stress Levl,Diet,Nationality
0,23,F,HIGH,HIGH,25.355,DrugY,current,Arthritis,"$261,404.00",6,27.900,Non Consumers,9,Average,South Africa
1,47,M,LOW,HIGH,13.093,drugC,never,Asthma,"$285,768.00",7,33.770,Consumers,1,Unhealthy,Nigeria
2,47,M,LOW,HIGH,10.114,drugC,current,Asthma,"$235,282.00",4,33.000,Non Consumers,9,Healthy,Ivory Coast
3,28,F,NORMAL,HIGH,7.798,drugX,current,Cancer,"$125,640.00",4,22.705,Consumers,9,Average,South Africa
4,61,F,LOW,HIGH,18.043,DrugY,never,Arthritis,"$160,555.00",5,28.880,Non Consumers,6,Unhealthy,Ivory Coast

In [41]:
drug_class.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  200 non-null    int64
 1   Sex                  200 non-null    object
 2   BP                   200 non-null    object
 3   Cholesterol          200 non-null    object
 4   Na_to_K              200 non-null    float64
 5   Drug                 200 non-null    object
 6   Smoking Status       200 non-null    object
 7   Genetic_Diseases     200 non-null    object
 8   Income Level         200 non-null    object
 9   Sleep Hours          200 non-null    int64
 10  BMI                  200 non-null    float64
 11  Alcohol Consumption  200 non-null    object
 12  Stress Levl          200 non-null    int64
 13  Diet                 200 non-null    object
 14  Nationality          200 non-null    object
dtypes: float64(2), int64(3), object(10)
memory usage: 23.6+ KB

Data Cleaning

Check for duplicate values

In [42]:
drug_class.duplicated().sum()

0

rename columns

In [43]:
drug_class.rename(columns={"BP":"Blood_Pressure","Na_to_K":"Sodium_to_Potassium_ratio",
"Smoking Status":"Smoking_Status","Income Level":"Income_Level",
"Sleep Hours":"Sleeptime_in_Hours","BMI":"Body_Mass_Index",
"Alcohol Consumption":"Alcohol_Consumption","Stress Levl":"Stress_Level"}, inplace=True)

In [44]:
drug_class.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        200 non-null    int64
 1   Sex                        200 non-null    object
 2   Blood_Pressure             200 non-null    object
 3   Cholesterol                200 non-null    object
 4   Sodium_to_Potassium_ratio  200 non-null    float64
 5   Drug                       200 non-null    object
 6   Smoking_Status             200 non-null    object
 7   Genetic_Diseases           200 non-null    object
 8   Income_Level               200 non-null    object
 9   Sleeptime_in_Hours         200 non-null    int64
 10  Body_Mass_Index            200 non-null    float64
 11  Alcohol_Consumption        200 non-null    object
 12  Stress_Level               200 non-null    int64
 13  Diet                       200 non-null    object
 14  Nationality                200 non-null    object
dtypes: float64(2), int64(3), object(10)
memory usage: 23.6+ KB

convert income_level to integer

In [45]:
drug_class["Income_Level"].value_counts()

Income_Level
$261,404.00     1
$167,843.00     1
$72,564.00      1
$175,465.00     1
$285,832.00     1
               ..
$258,104.00     1
$52,552.00      1
$128,868.00     1
$259,754.00     1
$137,445.00     1
Name: count, Length: 200, dtype: int64

In [46]:
drug_class.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        200 non-null    int64
 1   Sex                        200 non-null    object
 2   Blood_Pressure             200 non-null    object
 3   Cholesterol                200 non-null    object
 4   Sodium_to_Potassium_ratio  200 non-null    float64
 5   Drug                       200 non-null    object
 6   Smoking_Status             200 non-null    object
 7   Genetic_Diseases           200 non-null    object
 8   Income_Level               200 non-null    object
 9   Sleeptime_in_Hours         200 non-null    int64
 10  Body_Mass_Index            200 non-null    float64
 11  Alcohol_Consumption        200 non-null    object
 12  Stress_Level               200 non-null    int64
 13  Diet                       200 non-null    object
 14  Nationality                200 non-null    object
dtypes: float64(2), int64(3), object(10)
memory usage: 23.6+ KB

replace $ with blank

In [47]:
drug_class["Income_Level"]=drug_class["Income_Level"].str.replace("$","")

In [48]:
drug_class.head(1)

,Age,Sex,Blood_Pressure,Cholesterol,Sodium_to_Potassium_ratio,Drug,Smoking_Status,Genetic_Diseases,Income_Level,Sleeptime_in_Hours,Body_Mass_Index,Alcohol_Consumption,Stress_Level,Diet,Nationality
0,23,F,HIGH,HIGH,25.355,DrugY,current,Arthritis,"261,404.00",6,27.9,Non Consumers,9,Average,South Africa

remove unneccessary space from column

In [49]:
drug_class["Income_Level"]=drug_class["Income_Level"].str.strip()

In [ ]:
#drug_class = drug_class['Income_Level'].astype(float)

In [ ]:
#drug_class["Income_Level"]=drug_class["Income_Level"].astype(str).astype(int)

In [34]:
drug_class['Income_Level'] = pd.to_numeric(drug_class['Income_Level'])

In [35]:
drug_class.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        200 non-null    int64
 1   Sex                        200 non-null    object
 2   Blood_Pressure             200 non-null    object
 3   Cholesterol                200 non-null    object
 4   Sodium_to_Potassium_ratio  200 non-null    float64
 5   Drug                       200 non-null    object
 6   Smoking_Status             200 non-null    object
 7   Genetic_Diseases           200 non-null    object
 8   Income_Level               0 non-null      float64
 9   Sleeptime_in_Hours         200 non-null    int64
 10  Body_Mass_Index            200 non-null    float64
 11  Alcohol_Consumption        200 non-null    object
 12  Stress_Level               200 non-null    int64
 13  Diet                       200 non-null    object
 14  Nationality                200 non-null    object
dtypes: float64(3), int64(3), object(9)
memory usage: 23.6+ KB

In [36]:
drug_class.head(2)

,Age,Sex,Blood_Pressure,Cholesterol,Sodium_to_Potassium_ratio,Drug,Smoking_Status,Genetic_Diseases,Income_Level,Sleeptime_in_Hours,Body_Mass_Index,Alcohol_Consumption,Stress_Level,Diet,Nationality
0,23,F,HIGH,HIGH,25.355,DrugY,current,Arthritis,NaN,6,27.90,Non Consumers,9,Average,South Africa
1,47,M,LOW,HIGH,13.093,drugC,never,Asthma,NaN,7,33.77,Consumers,1,Unhealthy,Nigeria

In [ ]:
#drug_class = drug_class['Income_Level'].astype(int)